In [7]:
import pandas as pd

df = pd.read_excel('../data/raw/data_glotip.xlsx')
display(df.head())

,UNODC,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,14/04/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,txtVALUE,Source
2,ABW,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Total,Total,2010,Counts,<5,GLOTIP
3,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2003,Counts,<5,GLOTIP
4,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2008,Counts,<5,GLOTIP

In [8]:
new_columns = df.iloc[1].tolist()
df.columns = new_columns
df = df.drop(1).reset_index(drop=True)
display(df.head())

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,txtVALUE,Source
0,14/04/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Total,Total,2010,Counts,<5,GLOTIP
2,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2003,Counts,<5,GLOTIP
3,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2008,Counts,<5,GLOTIP
4,AFG,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,Counts,103,GLOTIP

In [9]:
df = df.drop(0).reset_index(drop=True)
display(df.head())

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,txtVALUE,Source
0,ABW,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Total,Total,2010,Counts,<5,GLOTIP
1,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2003,Counts,<5,GLOTIP
2,AFG,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2008,Counts,<5,GLOTIP
3,AFG,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,Counts,103,GLOTIP
4,AFG,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,Total,Total,2013,Counts,167,GLOTIP

In [11]:
df.drop(columns='Iso3_code',  inplace=True)
df.drop(columns='Unit of measurement',  inplace=True)
df.drop(columns='Source',  inplace=True)

In [12]:
display(df.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,txtVALUE
0,Aruba,Americas,Latin America and the Caribbean,Detected trafficking victims,by country of repatriation,Ukraine,Total,Total,2010,<5
1,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2003,<5
2,Afghanistan,Asia,Southern Asia,Detected trafficking victims,by country of repatriation,Abroad,Total,Total,2008,<5
3,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,103
4,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,Total,Total,2013,167

In [13]:
import numpy as np
df['Sex'] = df['Sex'].replace('Total', np.nan)
df['Sex'] = df['Sex'].str.capitalize()
df['Sex'] = df['Sex'].replace('Unknown',np.nan)
print(df['Sex'].unique())

[nan 'Female' 'Male' 'Other']

In [14]:
df['Age'] = df['Age'].replace({
    '0 to 17 years': 'Minor',
    '18 years or over': 'Adult',
    'Total': np.nan,
    'Unknown': np.nan
})
print(df['Age'].unique())

[nan 'Minor' 'Adult']

In [15]:
df = df.rename(columns={'txtVALUE': 'Nr_of_victims'})

In [16]:
df1 = df[df['Indicator'] == 'Detected trafficking victims'].copy()

In [17]:
df1['Nr_of_victims']= df1['Nr_of_victims'].replace('<5',2.5)

In [18]:
df1['Nr_of_victims']= df1['Nr_of_victims'].astype(str).str.replace(',', '')

In [19]:
df1['Nr_of_victims'] = df1['Nr_of_victims'].astype(float)
print(f"The new data type of the 'Nr_of_victims' column is: {df1['Nr_of_victims'].dtype}")

The new data type of the 'Nr_of_victims' column is: float64

In [20]:
df1['Year'] = pd.to_datetime(df1['Year'], format='%Y')
df1.dtypes

Country                  object
Region                   object
Subregion                object
Indicator                object
Dimension                object
Category                 object
Sex                      object
Age                      object
Year             datetime64[ns]
Nr_of_victims           float64
dtype: object

In [21]:
df1.shape

(39485, 10)

In [22]:
df1['Dimension'] = df1['Dimension'].replace('Total', np.nan)

In [23]:
df1['Category'] = df1['Category'].replace('Total', np.nan)