In [2]:
import pandas as pd
df = pd.read_excel(r'../data/raw/data_glotip.xlsx')
display(df.head())

,UNODC,unodc_dass@un.org,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,14/04/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,txtVALUE,Source
2,AGO,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by citizenship,Chinese,Total,Total,2022,Counts,18,GLOTIP
3,AGO,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,0 to 17 years,2022,Counts,<5,GLOTIP
4,AGO,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,18 years or over,2022,Counts,<5,GLOTIP

In [3]:
df.columns

Index(['UNODC', 'unodc_dass@un.org', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [4]:
new_columns = df.iloc[1].tolist()
df.columns = new_columns
df = df.drop(1).reset_index(drop=True)
display(df.head())

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,txtVALUE,Source
0,14/04/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AGO,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by citizenship,Chinese,Total,Total,2022,Counts,18,GLOTIP
2,AGO,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,0 to 17 years,2022,Counts,<5,GLOTIP
3,AGO,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,18 years or over,2022,Counts,<5,GLOTIP
4,AFG,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,Counts,103,GLOTIP

In [5]:
df = df.drop(0).reset_index(drop=True)
display(df.head())

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,txtVALUE,Source
0,AGO,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by citizenship,Chinese,Total,Total,2022,Counts,18,GLOTIP
1,AGO,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,0 to 17 years,2022,Counts,<5,GLOTIP
2,AGO,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,18 years or over,2022,Counts,<5,GLOTIP
3,AFG,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,Counts,103,GLOTIP
4,AFG,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,Total,Total,2013,Counts,167,GLOTIP

In [6]:
df.drop(columns='Iso3_code',  inplace=True)
df.drop(columns='Unit of measurement',  inplace=True)
df.drop(columns='Source',  inplace=True)

display(df.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,txtVALUE
0,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by citizenship,Chinese,Total,Total,2022,18
1,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,0 to 17 years,2022,<5
2,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,18 years or over,2022,<5
3,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,Total,Total,2013,103
4,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,Total,Total,2013,167

In [7]:
import numpy as np
df['Sex'] = df['Sex'].replace('Total', np.nan)
df['Sex'] = df['Sex'].str.capitalize()
df['Sex'] = df['Sex'].replace('Unknown',np.nan)
print(df['Sex'].unique())

[nan 'Female' 'Male' 'Other']

In [8]:
df['Age'] = df['Age'].replace({
    '0 to 17 years': 'Minor',
    '18 years or over': 'Adult',
    'Total': np.nan,
    'Unknown': np.nan
})
print(df['Age'].unique())

[nan 'Minor' 'Adult']

In [9]:
display(df.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,txtVALUE
0,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by citizenship,Chinese,NaN,NaN,2022,18
1,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Minor,2022,<5
2,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Adult,2022,<5
3,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,NaN,NaN,2013,103
4,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,NaN,NaN,2013,167

In [10]:
df = df.rename(columns={'txtVALUE': 'Nr_of_victims'})
display(df.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by citizenship,Chinese,NaN,NaN,2022,18
1,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Minor,2022,<5
2,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Adult,2022,<5
3,Afghanistan,Asia,Southern Asia,Offences of trafficking in persons,Total,Total,NaN,NaN,2013,103
4,Afghanistan,Asia,Southern Asia,Persons brought into formal contact,Total,Total,NaN,NaN,2013,167

In [11]:
df.shape

(58769, 10)

In [12]:
df1 = df[df['Indicator'] == 'Detected trafficking victims'].copy()
display(df1.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by citizenship,Chinese,NaN,NaN,2022,18
1,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Minor,2022,<5
2,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Adult,2022,<5
5,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Male,Minor,2022,<5
6,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Male,Adult,2022,<5

In [13]:
df1['Nr_of_victims']= df1['Nr_of_victims'].replace('<5',2.5)

In [14]:
display(df1.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by citizenship,Chinese,NaN,NaN,2022,18
1,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Minor,2022,2.5
2,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Adult,2022,2.5
5,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Male,Minor,2022,2.5
6,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Male,Adult,2022,2.5

In [15]:
df1['Nr_of_victims'].unique()

array(['18', 2.5, '15', ..., '521', '1,011', '627'], dtype=object)

In [16]:
df1['Nr_of_victims']= df1['Nr_of_victims'].astype(str).str.replace(',', '')

In [17]:
df1['Nr_of_victims'].unique()

array(['18', '2.5', '15', ..., '521', '1011', '627'], dtype=object)

In [18]:
display(df1.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by citizenship,Chinese,NaN,NaN,2022,18
1,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Minor,2022,2.5
2,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Adult,2022,2.5
5,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Male,Minor,2022,2.5
6,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Male,Adult,2022,2.5

In [19]:
df1.dtypes

Country          object
Region           object
Subregion        object
Indicator        object
Dimension        object
Category         object
Sex              object
Age              object
Year             object
Nr_of_victims    object
dtype: object

In [20]:
df1['Nr_of_victims'] = df1['Nr_of_victims'].astype(float)
print(f"The new data type of the 'Nr_of_victims' column is: {df1['Nr_of_victims'].dtype}")

The new data type of the 'Nr_of_victims' column is: float64

In [21]:
df1['Year'] = pd.to_datetime(df1['Year'], format='%Y').dt.year
df1.dtypes

Country           object
Region            object
Subregion         object
Indicator         object
Dimension         object
Category          object
Sex               object
Age               object
Year               int32
Nr_of_victims    float64
dtype: object

In [22]:
# Study Case: A UN linked NGO wants to open new offices for human trafficking survivors' assistance. 
# Hypothesis1: We can use data to determine in which country it will be more relevant to open the new offices.
# Hypothesis2:

In [23]:
df1.shape

(39485, 10)

In [24]:
df1['Dimension'] = df1['Dimension'].replace('Total', np.nan)

In [25]:
df1['Category'] = df1['Category'].replace('Total', np.nan)

In [26]:
display(df1.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
0,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by citizenship,Chinese,NaN,NaN,2022,18.0
1,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Minor,2022,2.5
2,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Adult,2022,2.5
5,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Male,Minor,2022,2.5
6,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Male,Adult,2022,2.5

In [27]:
df2 = df1[df1['Dimension'] == 'by form of exploitation'].copy()
display(df2.head())

,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Nr_of_victims
1,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Minor,2022,2.5
2,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Female,Adult,2022,2.5
5,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Male,Minor,2022,2.5
6,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Forced labour,Male,Adult,2022,2.5
7,Angola,Africa,Sub-Saharan Africa,Detected trafficking victims,by form of exploitation,Sexual exploitation,Female,Minor,2022,2.5

In [29]:
df2.shape

(14636, 10)